<!DOCTYPE html>

<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE7">

  <title>{{ config.app.title }}</title>
  <meta name="description" content="{{ config.app.meta_description }}">
  <meta name="author" content="{{ config.app.meta_author }}">

  <!-- Mobile Viewport Fix -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />

  {{#block "app_icons"}}
  <!-- Favicon & Progressively-Enhanced Touch Icons: http://mathiasbynens.be/notes/touch-icons#sizes -->
  <link rel="shortcut icon" href="/static/css/images/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/css/images/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/css/images/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/css/images/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/static/css/images/apple-touch-icon-precomposed.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  {{/block}}

  <!-- Google WebFonts -->
  <link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  {{#if production}}
    <link rel="stylesheet" href="/dist/{{cssHashedBundleName}}">
  {{else}}
    <link rel="stylesheet" href="/bundle.css">
  {{/if}}

  <link rel="profile" href="//gmpg.org/xfn/11" />

  {{#if config.map.cartodb_enabled}}
  <link rel="stylesheet" href="//cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.15/themes/css/cartodb.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.css" />
  {{else}}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.css" />
  {{/if}}

  {{#if config.cluster}}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
  {{/if}}

  <!--[if lte IE 8]>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.ie.css" />
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.js"></script>
    <script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

</head>
  <body class="{{#if config.map.geocoding_bar_enabled}} geocoding-bar-enabled{{/if}}">

  <header id="site-header" class="clearfix{{#if config.pages}} has-pages{{/if}}">
    <h1 id="site-title">{{#block "site-title"}}{{/block}}</h1>

    {{#block "pre_auth_nav"}}{{/block}}
    <div id="auth-nav-container"></div>
    {{#block "post_auth_nav"}}{{/block}}

    {{#block "pre_pages_nav"}}{{/block}}
    <div id="pages-nav-container"></div>
    {{#block "post_pages_nav"}}{{/block}}

    {{#if config.map.counter}}
      <div id="place-counter" class="list-toggle-nav"></div>
    {{/if}}

    {{#if config.languages}}
      {{#block "language_picker"}}
        <div id="language-picker">
          <nav class="access" role="article">
            <ul class="menu">
              <li class="menu-item">
                <a class="current-language {{ languageCode }} btn btn-block">Español / tiếng Việt ⌄</a>
                <ul class="menu">
                  {{#each config.languages}}
                    <li class="menu-item">
                      <a href="/{{this.code}}.html" class="{{ this.code }} btn btn-block">{{ this.label }}</a>
                    </li>
                  {{/each}}
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      {{/block}}
    {{/if}}

  </header>

  <div class="unsupported-overlay"></div>

  <div role="main" id="main">
    <noscript>
      <div class="noscript">
      <h3>
        {{#_}}
        Oops, {{config.app.name}} needs JavaScript to work properly.
        {{/_}}
      </h3>
      <p>
        {{#_}}
        {{ config.app.name }} is great but it needs something called JavaScript to work
        properly. But fear not, it's really easy to turn on. Click
        <a href="//enable-javascript.com/" target="_blank">here</a> for simple instructions!
        {{/_}}
      </p>
      </div>
    </noscript>

    <div id="info-modal-container"></div>

    {{#if config.map.geocoding_bar_enabled}}
    <div id="geocode-address-bar" class="clearfix"></div>
    {{/if}}

    <div id="map-container">

      <div id="ajax-error-msg">{{#_}}We can't connect to the server at the moment. Hang tight while we re-establish communication.{{/_}}</div>
      <div id="map-progress" class="progress-bar"><strong>Loading Data&hellip;</strong><span class="current-progress"></span></div>
      <div id="map"></div>
      <div id="spotlight-mask"></div>

      {{#if config.sidebar.enabled}}
        <div id="sidebar-container"></div>
      {{/if}}

      <div id="layer-info-window-container" class="is-hidden-fadeout"></div>
    
    </div>

    <div id="content"><!-- .place or .page -->
      <a href="#" class="close-btn">&#10005;<span>{{#_}}Close{{/_}}</span></a>
      <article></article>
    </div><!-- end #content -->

    <!-- right-panel sidebar -->
    <div id="right-sidebar-container"></div>

  </div><!-- end #main -->

 {{#if config.sidebar.enabled}}
   <!-- <div id="side-bar"> -->
   {{#if config.sidebar.legend_enabled}}
    <!-- <div id="master-legend"> -->
      {{#block "sidebar"}}{{/block}}
      <!--<header>Master Legend</header>-->
    <!-- </div> -->
   {{/if}}
  <!-- </div> -->
 {{/if}}

  <div id="list-container"></div>

  <!--
  <footer id="colophon">
    {{#block "colophon"}}{{/block}}
  </footer>
  -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/libs/jquery-1.10.2.js"><\/script>')</script><!-- FIXME: Maybe this should be pulled into the repo as a git submodule-->

  {{#if config.map.cartodb_enabled}}
    <script src="//cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.15/cartodb.js"></script>
  {{else}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.js"></script>
  {{/if}}

  {{#if config.cluster}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.5.0/leaflet.markercluster.js"></script>
  {{/if}}

  {{#if settings.mapboxToken}}
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.2/mapbox-gl.css" rel='stylesheet' />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.2/mapbox-gl.js"></script>
    <script src="/libs/leaflet-mapbox-gl.js"></script>
  {{/if}}

  {{#if production}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/1.6.1/backbone.marionette.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/esri-leaflet/1.0.3/esri-leaflet.js"></script>
    <script src="//cdn.jsdelivr.net/leaflet.esri.renderers/1.0.0/esri-leaflet-renderers.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.12/jquery.scrollTo.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-load-image/1.2.3/load-image.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/2.0.6/js/canvas-to-blob.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.3.2/spin.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw-src.js"></script>
  {{else}}
    <!-- Non-minified, where available -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/1.6.1/backbone.marionette.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/esri-leaflet/1.0.3/esri-leaflet.js"></script>
    <script src="//cdn.jsdelivr.net/leaflet.esri.renderers/1.0.0/esri-leaflet-renderers.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.12/jquery.scrollTo.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-load-image/1.2.3/load-image.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/2.0.6/js/canvas-to-blob.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.3.2/spin.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw-src.js"></script>
  {{/if}}
  
  <!-- These are obscure or customized, self-hosted. -->
  <script src="/libs/binaryajax.js"></script>
  <script src="/libs/exif.js"></script>
  <script src="/libs/swag.min.js"></script>
  <script src="/libs/leaflet.sidebar.js"></script>
  <script src="/libs/leaflet-wmts.js"></script>
  <script src="/libs/leaflet.argo.js"></script>

  <!-- Bootstrap site and user information -->
  <script>
    var Shareabouts = Shareabouts || {};
    
    Shareabouts.bootstrapped = {
      staticUrl: '/static/',
      mapQuestKey: '{{ settings.mapQuestKey }}',
      mapboxToken: '{{ settings.mapboxToken }}'
    };
    function bootstrapCurrentUser(data) {
      // Handle the case when we are logged into the admin panel
      if (data && !data.avatar_url) data.avatar_url = "/static/css/images/user-50.png"
      if (data && !data.name) data.name = data.username
      Shareabouts.bootstrapped.currentUser = data;
    }
    function setApiSessionCookie(data) {
      if (data) {
        Shareabouts.Util.cookies.save('sa-api-sessionid', data.sessionid);
      }
    }
  </script>

  <script>
    {{#precompile_jstemplates}}{{/precompile_jstemplates}}
    Handlebars.partials = Handlebars.templates;
  </script>
  {{#if production}}
    <script src="/dist/{{jsHashedBundleName}}"></script>
  {{else}}
    <script src="/bundle.js"></script>
  {{/if}}
  <script src="{{config.app.api_root}}users/current?format=jsonp&callback=bootstrapCurrentUser"></script>
  <script src="{{config.app.api_root}}utils/session-key?format=jsonp&callback=setApiSessionCookie"></script>

  <!--[if IE LTE 7]>
  <script>
    $(function() {
      var $unsupportedEl = $('.unsupported-overlay');
      var unsupportedHtml = Handlebars.templates['unsupported-overlay']();
      $unsupportedEl.hide();
      $unsupportedEl.html(unsupportedHtml);
      $unsupportedEl.slideDown();
      $unsupportedEl.find('.close-btn').click(function(evt) {
        evt.preventDefault();
        $unsupportedEl.slideUp();
        return false;
      });
    });
  </script>
  <![endif]-->

  {{#if production}}
    <script>
      (function(S, $){
        S.Config = {
          defaultPlaceTypeName: "{{ default_place_type }}",
          userToken: (
            S.bootstrapped.currentUser ?
            "user:" + S.bootstrapped.currentUser.id :
            "session:" + S.Util.cookies.get("sa-api-sessionid")),
          app:        {{#serialize config.app}}{{/serialize}},
          place:      {{#serialize config.place}}{{/serialize}},
          placeTypes: {{#serialize config.place_types}}{{/serialize}},
          cluster:    {{#serialize config.cluster}}{{/serialize}},
          survey:     {{#serialize config.survey}}{{/serialize}},
          support:    {{#serialize config.support}}{{/serialize}},
          map:        {{#serialize config.map}}{{/serialize}},
          activity:   {{#serialize config.activity}}{{/serialize}},
          sidebar:    {{#serialize config.sidebar}}{{/serialize}},
          leaflet_sidebar: {{#serialize config.leaflet_sidebar}}{{/serialize}},
          pages:           {{#serialize config.pages}}{{/serialize}},
          story:           {{#serialize config.story}}{{/serialize}},
          rightSidebar:    {{#serialize config.right_sidebar}}{{/serialize}},
          filters:         {{#serialize config.filters}}{{/serialize}},
          datasets:        {{#serialize config.datasets}}{{/serialize}},
          customHooks:     {{#serialize config.custom_hooks}}{{/serialize}},
          customComponents:{{#serialize config.custom_components}}{{/serialize}}
        };
        $(function() {
          // Ready set go!
          window.app = new Shareabouts.App({
            activity: [],
            defaultPlaceTypeName: S.Config.defaultPlaceTypeName,
            userToken: S.Config.userToken,
            appConfig: S.Config.app,
            placeConfig: S.Config.place,
            placeTypes: S.Config.placeTypes,
            cluster: S.Config.cluster,
            sidebarConfig: S.Config.sidebar,
            rightSidebarConfig: S.Config.rightSidebar,
            surveyConfig: S.Config.survey,
            supportConfig: S.Config.support,
            mapConfig: S.Config.map,
            storyConfig: S.Config.story,
            activityConfig: S.Config.activity,
            pagesConfig: S.Config.pages,
            filters: S.Config.filters,
            datasetsConfig: S.Config.datasets,
            customHooks: S.Config.customHooks,
            customComponents: S.Config.customComponents
          });
        });
      }(Shareabouts, jQuery));
    </script>
  {{else}}
    <script src="/dist/config-en_US.js" type="text/javascript"></script>
  {{/if}}

  {{#if settings.googleAnalyticsId}}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ settings.googleAnalyticsId }}', '{{ settings.googleAnalyticsDomain }}');
    // Set the language-code
    ga('set', 'dimension2', '{{ languageCode }}');
  </script>
  {{/if}}

  {{#if settings.clickyAnalyticsId}}
  <a title="Google Analytics Alternative" href="https://clicky.com/{{ settings.clickyAnalyticsId }}"><img alt="Google Analytics Alternative" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
  <script type="text/javascript">
   var clicky_site_ids = clicky_site_ids || [];
   clicky_site_ids.push({{ settings.clickyAnalyticsId }});
   (function() {
     var s = document.createElement('script');
     s.type = 'text/javascript';
     s.async = true;
     s.src = '//static.getclicky.com/js';
     ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
   })();
  </script>

  <noscript>
    <p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/{{ settings.clickyAnalyticsId }}ns.gif" />
    </p>
  </noscript>
  {{/if}}

  {{#block "includes"}}{{/block}}

</body>
</html>
